# ОС
Thumbs.db
Desktop.ini
.DS_Store

# Редакторы
.vscode/
.idea/
*.swp

# Сборка C++/Qt
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.stash
Makefile
Makefile.Debug
Makefile.Release
object_script.*
Release/
Debug/

# Прочий мусор
nul_
*.zip
*копия*
